@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

html,body {
height: 100%;
}


/****************************************
    layout
*****************************************/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
  font-family: 'Pretendard', sans-serif !important;
  background-color: #000;
  color: #000;
}

.layout {
  height: 100%;
  margin: 0 auto;
}

/* header styles */
header {
  width: 1440px;
  margin: 0 auto;
}

header .header_wrap {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_wrap h1{
  font-size: 0; 
}

header .header_wrap nav ul {
  font-size: 0; 
}

header .header_wrap nav ul > li {
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
}

header .header_wrap nav ul > li:last-child {
  margin-right: 0;
}
header .header_wrap nav ul > li a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
}
header .header_wrap nav ul > li a:after {
  content: "";
  position: absolute;
  background-color: #EA2DEC;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
header .header_wrap nav ul > li a:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .header_wrap nav ul > li a:hover{
  color: #EA2DEC;
}
.main_text {
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}
.main_text h2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 64px;
  font-weight: 600; 
}

/* container styles */
#container-section {
  width: 100%;
  position: relative;
  background-color: #fff;

}
#container-section .menu_wrap {
  box-sizing: border-box;
  height: 49px;
  width: 1200px;
  position: relative;
  border-bottom: 1px solid #777;
  padding: 14px 0;
  margin: 0 auto;
}
#container-section .menu_ {
  height: 21px;
  text-align: left;
}
#container-section .menu_ ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  text-align: left;
  position: absolute;
  width: 409px;
  top: 14px;
  color: #999;
}
#container-section .menu_ ul li {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
}
#container-section .select_menu {
  color: #000;
}

#img_wrap {
  margin-top: 30px;
}
#img_wrap .img_view_select {
  width: 1200px;
  margin: 0 auto;
  padding: 57px 0 29px 0;
  text-align: right;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}
#img_wrap .img_view_select .select-grid {
  display: flex;
  align-items: center;
  width: 99px;
  height: 24px;
  font-size: 20px;
  gap: 10px;
}
.select-grid span {
  display: block;
}
.select-grid .view-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
.grid1-fill,
.grid3-fill {
  color: #ebebeb;
  width: 24px;
  height: 24px;
}
.active_grid {
  color: #000;
}

#img-container ul {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 185px);
  grid-column-gap: 18px;
  grid-row-gap: 100px;
}
#img-container ul li {
  width: 185px;
}
#img-container .img {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 139%;
  background-size: cover !important;
  box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.1);
}
#img-container ul li a:hover .hover {
  opacity: 1;
  bottom: 0;
}
.hover {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  background: linear-gradient(0deg, rgba(145, 59, 255, 0.4), rgba(145, 59, 255, 0.4));
  height: 45px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  opacity: 0;
  transition: 0.3s all;
}

#img-container .txt {
  padding: 10px 0;
  text-align: center;
}
#img-container .gray {
  display: inline-block;
  font-size: 12px;
  color: #999;
  font-weight: 600;
  word-break: keep-all;
  line-height: 1.6;
  font-weight: 600;
  text-decoration: underline;
  word-break: break-all;
}
.tit {
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 19px;
  height: 19px;
  margin: 15px 0px;
}

.tag {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  background-color: #ebebeb;
}

.line {
  position: relative;
  width: 1200px;
  height: 0px;
  margin:0 auto;
  margin-top:100px;
  border: 0.2px solid #EBEBEB;
}
.page_num{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  width: 128px;
  margin:0 auto;
  margin-top:30px;
  padding-bottom: 150px;
}
.page_num a{
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #999;
}
.page_num .select {
  color: #000;
}
.page_num > .btn_pack .btn {
  width: 18px;
  height: 18px;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: center; 
}
.page_num > .btn_pack .btn.btn_right_sm {
  background: url('./image/btn_right_sm.png');
  margin-left: 460px;
}

#foot {
  color: #fff;
  background: #181818;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 130px 0 100px 0;
  font-weight: 600;
}
.foot_logo {
  width: 87px;
}
#foot .addr {
  margin-left: 38px;
  font-size: 14px;
  width: 530px;
  font-style: normal;
}
#foot .addr .addr__:nth-child(1),
.addr__:nth-child(2) {
  line-height: 35px;
}
#foot .addr .addr__:nth-child(3) {
  line-height: 50px;
}
#foot .addr .addr__ > label {
  color: #8B8B8B;
  margin-right: 10px;
}

#foot .sns_info {
  width: 540px;
}
#foot .sns_info .box__ {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
#foot .sns_info .box__ div {
  font-weight: 600;
  border-bottom: 2px solid #8B8B8B;
  color: #8B8B8B;
  width: 30%;
  padding-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
#foot .sns_info .box__ div:hover {
  color: #913BFF;
  border-color: #913BFF;
  transition: all 0.3s ease;
}